version: '3.8'







services:



  service-mobilite:



    build: ./service-mobilite-rest



    container_name: mobilite-service



    ports:



      - "8081:8080"



    networks:



      - smartcity-net







  service-qualite-air:



    build: ./service-qualite-air-soap



    container_name: qualiteair-service



    ports:



      - "8082:8080"



    networks:



      - smartcity-net







  service-profils:



    build: ./service-profils-graphql



    container_name: profils-service



    ports:



      - "4000:4000"



    networks:



      - smartcity-net







  service-urgences:



    build: ./service-urgences-grpc



    container_name: urgences-service



    ports:



      - "50051:50051"



    networks:



      - smartcity-net







  api-gateway:



    build: ./api-gateway



    container_name: api-gateway



    ports:



      - "8085:8080"



    networks:



      - smartcity-net



    depends_on:



      - orchestrateur-metier # <--- CHANGÉ



      - service-mobilite



      - service-qualite-air



      - service-profils



      - service-urgences







  orchestrateur-metier: # <--- CHANGÉ : Nom de service aligné sur le dossier



    build: ./orchestrateur-metier



    container_name: orchestrateur-service



    environment:



      - SERVER_PORT=8080



    depends_on:



      - service-mobilite



      - service-qualite-air



      - service-profils



      - service-urgences



    networks:



      - smartcity-net







  client-web:



    build:



      context: ./client-web



      dockerfile: Dockerfile.client



    container_name: client-web



    ports:



      - "3000:80"



    depends_on:



      - api-gateway



    networks:



      - smartcity-net







networks:



  smartcity-net:



    driver: bridge 